h1 {
  font-weight: bold;
  color: #063336;
}

h2 {color: #548E8B;}

body{
  background-color: #B9A66C;
}

.info{
  font-family: arial, sans-serif;
}

img{
  height: 300px;
  width: 320px;
  float: right;
}