h1 {
  font-weight: bold;
  color: #063336;;
}

h2 {
  color: #EB4E57;
  font-family:Helvetica;
  text-decoration: underline overline;
}

h4 {
  color:#063336;
}

body{
  background-color: #548E8B;
}

.col-md-7{
  background-color: #F27F60;
  border:#063336 solid 10px;
  padding: 10px;
}

img{
  height: 230px;
  width: 320px;
  float: right;
  
}
.col-md-4{
  text-align:center;
  border:#063336 solid 10px;
  border-radius: 25px;
  background-color: #063336;
  margin-bottom: 30px;
}
.info{
  font-size:14px;
}
.coffee{
  color: #B9A66C;
  font-size: 20px;
  font-weight: bold;
]